{% extends 'base.html'%}
{% load static %}
{% block content %}

<style>

h1 {
    text-align : center;
}
form {
    width: 900px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 100px;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1><a href="#">{{post.title}}</a></h1>
<!--"/blog/{{post.id}}"-->
            <h1><a href="#">{{post.desc}}</a></h1>
<!--            <img src="{{post.image.url}}>-->
        </div>
    </div>


<form method="post" action="href={% url 'post_comment' post.id %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Post Comment" class="btn btn-primary">
<!--    {% if request.user in post.like_by.all %}-->
<!--           <a class="btn btn-danger"  href="{% url 'dislike_post' post.id %}">Dislike</a>-->

<!--            {% else %}-->
<!--         <a class="btn btn-primary"  href="{% url  'like_post' post.id  %}"><i class="fa-solid fa-heart"></i>Like</a>-->
<!--     {% endif %}-->
</form>



<ul>
        {% for comment in post_comment %}
            <li>
            {{comment.name}}
            {{comment.comment}}
            {{comment.created_at}}
            </li>
        {% endfor %}

        </ul>
</div>
{% endblock %}
