{% load static %}
<header class="header-top bg-grey justify-content-center">
		<div class="container">

			<div class="row align-items-center">
				<div class="col-lg-2 col-md-4 text-center d-none d-lg-block">
					<a class="navbar-brand " href="index.html">
              <img src="{% static 'images\logo.png' %}" alt="" class="img-fluid">
					</a>
				</div>

				<div class="col-lg-8 col-md-12">
					<nav class="navbar navbar-expand-lg navigation-2 navigation">
						<a class="navbar-brand text-uppercase d-lg-none" href="#">


						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
							aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="ti-menu"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbar-collapse">
							<ul id="menu" class="menu navbar-nav mx-auto">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false">
										Home
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="{% url 'home'%}">Home </a>

									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false">
										Blog Posts
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown2">
										<a class="dropdown-item" href="{% url 'blogpost' 1 %}">Blog_detail</a>
										<a class="dropdown-item" href="{% url 'create_blog'  %}">Create_blog</a>
										<a class="dropdown-item" href="{% url 'update_blog' 1 %}">Delete_blog</a>

									</div>
								</li>

								<li class="nav-item"><a href="{% url 'about'%}" class="nav-link">About</a></li>
								<li class="nav-item"><a href="{% url 'category'%}" class="nav-link">Category</a></li>


								<li class="nav-item"><a href="{% url 'contact'%}" class="nav-link">Contact</a></li>
							</ul>

							<ul class="list-inline mb-0 d-block d-lg-none">
								<a href="#" class="btn btn-success">Link Button</a>
								<a href="#" class="btn btn-success">Link Button</a>

							</ul>
						</div>
					</nav>
				</div>

				<div class="col-lg-2 col-md-4 col-6">
<!--					<div class="header-socials-2 text-right d-none d-lg-block">-->
<!--						<div class="btn-group" role="group" aria-label="Basic mixed styles example">-->
							<div class="btn-group" role="group" aria-label="Basic outlined example">
<!--						<div class="col-sm-3">-->

								{% if request.user.is_authenticated %}
								<a href="{% url 'logout' %} " class="btn btn-primary solid blank mt-3 ">logout</a>
								{% else %}
								<a href="{% url 'signin' %} " class="btn btn-primary solid blank mt-3 ">signin</a>
							<a href="{% url 'signup' %} " class="btn btn-primary solid blank mt-3 ">signup</a>
								{% endif %}
                        <div class="text-right search d-none d-lg-block">
                <div class="search_toggle"><i class="ti-search"></i></div>
              </div>
          </div>

<!--
						<div>-->
<!--							 <form class="d-flex" action="#" method="get" >-->

<!--							  <input  name="q" type="search" placeholder="Search" aria-label="Search">-->
<!--							<button class="btn btn-outline-success" type="submit" >Search</button>-->

<!-- </form>-->
<!--						</div>-->

					</div>
				</div>
			</div>

	</header>

